@use 'sass:color';
@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-primary;
  font-optical-sizing: auto;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $text-primary;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  color: $text-primary;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl;

  @include respond-to(md) {
    font-size: $font-size-4xl;
  }
}

h2 {
  font-size: $font-size-3xl;

  @include respond-to(md) {
    font-size: $font-size-3xl;
  }
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $spacing-md;
  color: $text-secondary;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: color.adjust($primary-color, $lightness: -10%);
  }

  &:focus-visible {
    @include focus-visible;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  border-radius: $border-radius-md;
  padding: $spacing-sm $spacing-lg;
  transition: all $transition-fast;
  font-weight: $font-weight-medium;

  &:focus-visible {
    @include focus-visible;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid $border-color;
  border-radius: $border-radius-md;
  padding: $spacing-sm $spacing-md;
  transition: border-color $transition-fast;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }

  &:focus-visible {
    @include focus-visible;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  @include container;
}

.sr-only {
  @include visually-hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

