@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
  background-color: white;
  color: $text-primary;
  margin-top: auto;
  padding: $spacing-2xl 0 $spacing-lg;
  border-top: 1px solid $border-color;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;
    margin-bottom: $spacing-xl;

    @include respond-to(md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-sm;

    @include respond-to(md) {
      align-items: flex-start;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    height: 40px;
    width: auto;
    object-fit: contain;
    display: block;

    @include respond-to(md) {
      height: 50px;
    }
  }

  &__tagline {
    color: $text-secondary;
    font-size: $font-size-sm;
    margin: 0;
    font-family: $font-family-primary;
    font-optical-sizing: auto;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-sm $spacing-lg;

    @include respond-to(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-md $spacing-xl;
    }
  }

  &__links li {
    margin: 0;
  }

  &__links a {
    color: $text-primary;
    font-size: $font-size-sm;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
      color: $primary-color;
    }

    &:focus-visible {
      @include focus-visible;
    }
  }

  &__bottom {
    border-top: 1px solid $border-color;
    padding-top: $spacing-lg;
    text-align: center;
  }

  &__copyright {
    color: $text-secondary;
    font-size: $font-size-sm;
    margin: 0;
  }
}

