@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  &__content {
    flex: 1;
    width: 100%;
  }
}

